@model SistemaVentas.Models.MovimientoCompra

@{
    ViewData["Title"] = "Editar Compra";
}

<div class="container mt-5">
    <h1 class="text-primary">@ViewData["Title"]</h1>
    <h4>Editar Movimiento de Compra</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdCompra" />

                <div class="form-group">
                    <label asp-for="FechaCompra" class="control-label">Fecha de Compra</label>
                    <input asp-for="FechaCompra" class="form-control" />
                    <span asp-validation-for="FechaCompra" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdProveedor" class="control-label">Proveedor</label>
                    <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                    <span asp-validation-for="IdProveedor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TotalCompra" class="control-label">Total de la Compra</label>
                    <input asp-for="TotalCompra" class="form-control" />
                    <span asp-validation-for="TotalCompra" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Detalle" class="control-label">Detalle</label>
                    <input asp-for="Detalle" class="form-control" />
                    <span asp-validation-for="Detalle" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
